.hidden {
    display: none;
}

.link-box-container {
    position: absolute;
    top: 100px; /* Ajuste conforme necessário */
    right: 50px; /* Ajuste conforme necessário */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}

.link-box {
    list-style: none;
    padding: 0;
}

.link-box li {
    margin: 10px 0;
}

.thumbnail {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
.icon-item {
    position: relative; /* Necessário para posicionar o box em relação ao item */
}

.hidden {
    display: none;
}

.link-box-container {
    position: absolute;
    top: -150px; /* Ajuste a altura conforme necessário */
    left: 0; /* Alinhar à esquerda do item */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px; /* Ajuste a largura conforme necessário */
    z-index: 1000; /* Garantir que esteja à frente de outros elementos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.link-box {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-box li {
    margin: 10px 0;
}

.thumbnail {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
/* Estilos para a caixa de diálogo */
.dialog-overlay {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Z-index alto para sobrepor todos os elementos */
}

.dialog-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dialog-button {
    background-color: #007BFF; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dialog-button:hover {
    background-color: #0056b3; /* Tom de azul mais escuro */
}


